html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* evita scroll */
    background: url(imagens/cidade.jpg);
    background-size: cover;
}

canvas {
    display: block;   /* remove espaço extra embaixo do canvas */
}

#finalização{
    background-color: rgb(255, 255, 255);
    color: darkred;
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-color: darkred;
    border-radius: 10px;
}

